<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pms.api.sys.menu.MenuMapper" >
  <sql id="columns" >
    a.id,
    a.name,
    a.title,
    a.remarks,
    a.create_by as "createBy.username",
    a.create_date as "createDate",
    a.update_by as "updateBy.username",
    a.update_date as "updateDate",
    a.pid,
    a.sort,
    a.href,
    a.target,
    a.icon,
    a.is_show as "isShow",
    a.permission
  </sql>

  <sql id="joins">
    left join sys_user su1 on su.id = a.create_by
    left join sys_user su2 on su.id = a.update_by
  </sql>

  <select id="get" resultType="com.pms.api.sys.menu.Menu">
    SELECT
      <include refid="columns"/>,
      su1.name as "createBy.name",
      su2.name as "updateBy.name"
    FROM sys_menu a
      <include refid="joins"/>
    WHERE a.id = #{id}
  </select>

  <select id="findList" resultType="com.pms.api.sys.menu.Menu" >
    SELECT
      <include refid="columns" />
    FROM sys_menu a
    <where>
      <if test="delFlag != null and delFlag != ''">
        AND a.del_flag = #{delFlag}
      </if>
      <if test="delFlag == null or delFlag == ''">
        AND a.del_flag = #{DEL_FLAG_NORMAL}
      </if>
      <if test="name != null and name != ''">
        AND a.name LIKE '%'||#{name}||'%'
      </if>
    </where>
  </select>

  <insert id="insert">
    INSERT INTO sys_menu(
      id,
      name,
      title,
      remarks,
      create_by,
      create_date,
      update_by,
      update_date,
      del_flag,
      pid,
      sort,
      href,
      target,
      icon,
      is_show,
      permission
    ) VALUES (
      #{id},
      #{name},
      #{title},
      #{remarks},
      #{createBy.username},
      #{createDate},
      #{updateBy.username},
      #{updateDate},
      #{delFlag},
      #{pid},
      #{sort},
      #{href},
      #{target},
      #{icon},
      #{isShow},
      #{permission}
    )
  </insert>

  <update id="update">
    UPDATE sys_menu SET
    name = #{name},
    title #{title},
    remarks = #{remarks},
    update_by = #{updateBy.username},
    update_date = #{updateDate},
    pid = #{pid},
    sort = #{sort},
    href = #{href},
    target = #{target},
    icon = #{icon},
    is_show = #{isShow},
    permission = #{permission},
    WHERE id = #{id}
  </update>

  <update id="delete">
    UPDATE sys_menu SET
    del_flag = #{DEL_FLAG_DELETE}
    WHERE id = #{id}
  </update>

</mapper>
